/.apt_generated/
/target/
/build/
/scripts/
.classpath
.project
/.settings/
/wlp/
/openliberty/
.factorypath
.DS_Store
.vscode/settings.json
src/wlp/usr
.workshopper
.argocd
k8s/**/daytrader-mirrormaker.yaml
*.iml